<a href="https://www.goodreads.com/quotes/256015-you-know-if-we-understand-one-question-rightly-all-questions"></a> 



<div class="jumbotron">
  <h1 class="text-center">There is no guru.</h1>
  <br>
  <p>"What we are trying to do, during all these discussions and talks here, is to see if we cannot radically bring about a transformation of the mind, not accept things as they are, nor revolt against them. Revolt doesn't answer a thing. You must understand it, go into it, examine it, give your heart and your mind, with everything that you have, to find out a way of living differently. That depends on you, and not on someone else, because in this there is no teacher, no pupil; there is no leader; there is no guru; there is no Master, no Saviour. You yourself are the teacher and the pupil; you are the Master; you are the guru; you are the leader; you
  are everything. And to understand is to transform what is.<br> <br>I think that will be enough, won't it?"</p>
  <p class="text-right"><a href="https://www.goodreads.com/quotes/256015-you-know-if-we-understand-one-question-rightly-all-questions">Jiddu Krishnamurti</a></p>
</div>




<section>
<div class="container">
	<div class="row">
		<div class="col-md-6 col-md-offset-3">
        <hgroup>
          <h2>
            Subscribe for
             <select class="frecuency">
                 <option value="0" selected>daily</option>
                 <option value="1">weekly</option>
             </select>
            newsletter 
          </h2>
         </hgroup>
    	 <div class="well">
             <form action="https://tinyletter.com/thereisnoguru" method="post" target="popupwindow" onsubmit="window.open('https://tinyletter.com/thereisnoguru', 'popupwindow', 'scrollbars=yes,width=800,height=600');return true">
              <div class="input-group">
                 <input class="btn btn-lg" name="email" id="email" type="email" placeholder="Your Email" required>
                 <button class="btn btn-info btn-lg" type="submit">Submit</button>
              </div>
             </form>
	</div>
</div>