<a href="https://www.goodreads.com/quotes/256015-you-know-if-we-understand-one-question-rightly-all-questions"></a> 



<div class="jumbotron">
  <h1 class="text-center">There is no guru.</h1>
  <br>
  <p>"That depends on you, and not on someone else, because in this there is no teacher, no pupil; there is no leader; there is no guru; there is no Master, no Saviour. You yourself are the teacher and the pupil; you are the Master; you are the guru; you are the leader; you
  are everything. And to understand is to transform what is.<br> <br>I think that will be enough, won't it?"</p>
  <p class="text-right"><a href="https://www.goodreads.com/quotes/256015-you-know-if-we-understand-one-question-rightly-all-questions">Jiddu Krishnamurti</a></p>
</div>




<section>
<div class="container">
	<div class="row">
		<div class="col-md-4 col-md-offset-4">
			<hgroup>
	        	<h2>
		            Subscribe for
		             <select class="frecuency">
		                 <option value="0">daily</option>
		                 <option value="1" selected>weekly</option>
		                 <option value="2">monthly</option>
		             </select>
		            newsletter 
	        	</h2>
	        </hgroup>
	    	<div class="well well-sm">
	            <form action="https://tinyletter.com/thereisnoguru" method="post" target="popupwindow" onsubmit="window.open('https://tinyletter.com/thereisnoguru', 'popupwindow', 'scrollbars=yes,width=800,height=600');return true">
	            	<div class="input-group">
	                 <input class="btn btn-lg" name="email" id="email" type="email" placeholder="Your Email" required>
	                 <button class="btn btn-info btn-lg" type="submit">Submit</button>
	            	</div>
	            </form>
			</div>
		</div>
	</div>
</div>